@import 'reset.scss', 'media.scss';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

// header content

.header {
  height: 750px;
  background: url('../images/background.png') no-repeat;
  background-size: cover;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  margin-bottom: 156px;
}

.menu-logo {
  display: flex;
}

.navigation__menu {
  display: flex;
  width: 505px;
  justify-content: space-between;
  margin: 25px 0;
}

.navigation__menu_text {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 70%;
  font-weight: 600;
  font-size: 15px;
}

// burger menu //

.menu-btn {
  position: absolute;
  z-index: 1;
  display: none;
  top: calc(50% - 14px);
  right: 0;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.menu-btn__burger {
  position: absolute;
  top: 13px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

.menu-btn__burger:before {
  content: '';
  position: absolute;
  top: -10px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

.menu-btn__burger:after {
  content: '';
  position: absolute;
  top: 10px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .navigation__menu {
      display: none;
  }

  .menu-btn {
      display: block;
  }
}

.navigation__menu_item,
.navigation__menu_item:active,
.navigation__menu_item:visited {
  transition-property: all;
  transition-duration: 0.2s;
}

.navigation__menu_item:hover {
  transform: scale(1.3, 1.3);
}


.header-title {
  margin-bottom: 41px;
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-subtitle {
  height: 55px;
  margin-bottom: 77px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Raleway';
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.header__button {
  display: block;
  width: 200px;
  padding: 25px;
  margin: 0 auto;
  background-color: #e84545;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
  text-transform: uppercase;
  border: none;
}

// featerus content //

.features { 
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.features-container {
  padding: 120px 0;
  max-width: 1076px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-container {
  width: 296px;
  height: 186px;
  margin: 0 auto 74px;
  text-align: center;
}

.card-container__lowcase {
  width: 296px;
  height: 186px;
  margin: 0 auto 127px;
  text-align: center;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  font-weight: 700;
  margin: 35px 0 25px;
}

.card-subtitle {
  width: 296px;
  height: 56px;
  color: #6c7279;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
}

// works content //

.works__box {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.works__box__slider {
  display: none;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.works__box__slider .works__item {
  max-width: 100%;
  width: 100%;
}

.works__item {
  width: 25%;
  box-sizing: border-box;
  padding: 1px;
  position: relative;
}

.work-image {
  display: block;
  width: 100%;
}

.works__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(232, 69, 69, 0.85);
  opacity: 0;
  transition: all linear 0.3s;
}
.works__item-info:hover {
  opacity: 1;
}

/* FONTS */
.works__item__info-title {
  font-size: 14px;
  padding-bottom: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  transition: all linear 0.3s;
}

.works__item__info-subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: all linear 0.3s;
}

// team content 

.team-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-card {
  width: 270px;
}

.team-card__title {
  color: #2d3033;
  text-transform: uppercase;
  margin-top: 30px;
}
.team-card__subtitle {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 15px;
}
.team-card__description {
  color: #6c7279;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.9;
  line-height: 21px;
}

.team__social-icon {
  line-height: 36px;
  border: 1px solid #c6cacc;
  color: #c6cacc;
}

.team__social-icons {
  display: flex;
  gap: 7px;
}

// client content 

.clients {
  display: flex;
}

.client-photo {
  width: 50%;
  height: 500px;
}

.client-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 500px;
  background-color: #53354a;
}

.client-title {
  width: 500px;
  margin-left: 87px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Cardo';
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  text-align: left;
}

.client-subtitle {
  margin-left: 87px;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.slider {
  position: relative;
  min-width: 0;
  height: 500px;
  
  .slick-list {
    overflow: hidden;
  }
  
  .slick-dots {
    display: flex;
    justify-content: center;
    bottom: 90px;
    position: relative;
  }
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

// download cotent

.download__title {
  margin: 100px auto 0 auto;
  color: #2d3033;
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.download__subtitle {
  margin: 16px auto 40px;
  color: #2d3033;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.download__button {
  display: block;
  width: 200px;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #e84545;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

// footer content 


.info {
  padding: 15px 0;
  background-color: #3a3e64;
}

.info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 71px auto 73px auto;
}

.info__title {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.info__text {
  width: 328px;
  margin-top: 22px;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
}

.social-icon {
  padding: 10px;
}

.social-icon:first-child {
  padding: 2px 15px;
}

.info__social-icons-container {
  display: flex;
}

.info__social-icons {
  display: flex;
  margin-top: 21px;
  gap: 7px;
}

.info__social-icon {
  line-height: 36px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.copyright {
  padding: 15px 0;
  background-color: #313454;
}

.copyright__container {
  justify-items: center;
}

.copyright__text {
  margin-top: 14px;
  color: #808080;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
}

.copyright__author {
  margin-bottom: 14px;
  color: #808080;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
}

.copyright__heart {
  color: #e84545;
  font-family: "Webdings";
}

.copyright__link {
  color: #ffffff;
  font-family: "Raleway";
}
