* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 750px;
  background: url('../images/background.png') no-repeat;
  background-size: cover;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  margin-bottom: 156px;
}

.menu-logo {
  display: flex;
}

.navigation-bar__menu {
  display: flex;
  width: 505px;
  justify-content: space-between;
  margin: 25px 0;
}

.navigation-bar__menu_text {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 70%;
  font-weight: 600;
  font-size: 15px;
}

// burger menu //

.menu-btn {
  position: absolute;
  z-index: 1;
  display: none;
  top: calc(50% - 14px);
  right: 0;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.menu-btn__burger {
  position: absolute;
  top: 13px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

.menu-btn__burger:before {
  content: '';
  position: absolute;
  top: -10px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

.menu-btn__burger:after {
  content: '';
  position: absolute;
  top: 10px;
  height: 2px;
  width: 30px;
  background-color: whitesmoke;
}

.navigation-bar__menu_item,
.navigation-bar__menu_item:active,
.navigation-bar__menu_item:visited {
  transition-property: all;
  transition-duration: 0.2s;
}

.navigation-bar__menu_item:hover {
  transform: scale(1.3, 1.3);
}


.header-title {
  margin-bottom: 41px;
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-subtitle {
  height: 55px;
  margin-bottom: 77px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Raleway';
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.header__button {
  display: block;
  width: 200px;
  padding: 25px;
  margin: 0 auto;
  background-color: #e84545;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
  text-transform: uppercase;
  border: none;
}

// featerus content //

.features { 
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.features-container {
  padding: 120px 0;
  max-width: 1076px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-container {
  width: 296px;
  height: 186px;
  margin: 0 auto 74px;
  text-align: center;
}

.card-container__lowcase {
  width: 296px;
  height: 186px;
  margin: 0 auto 127px;
  text-align: center;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  font-weight: 700;
  margin: 35px 0 25px;
}

.card-subtitle {
  width: 296px;
  height: 56px;
  color: #6c7279;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
}

// works content //

.work {
  height: 701px;
}

.work-card__container {
  display: flex;
  width: 480px;
  height: 350px;
  flex-shrink: 1;
}

.work-card__container:last-child {
  flex-shrink: 2;
}

.work-card__low {
  display: flex;
  width: 480px;
  height: 350px;
}

// team content 

.team-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
}

.team-card__title {
  color: #2d3033;
  text-transform: uppercase;
  margin-top: 30px;
}
.team-card__subtitle {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 15px;
}
.team-card__description {
  color: #6c7279;
  margin-top: 30px;
  opacity: 0.9;
  line-height: 21px;
}

// download cotent

.download-container { 
  width: 624px;
  height: 139px;
  margin: 110px 638px 213px 213px;
  text-align: center;
}

.download-title {
  margin: 15px auto;
  color: #2d3033;
  font-family: 'Raleway';
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
}

.download-subtitle {
  margin-bottom: 40px;
  color: #2d3033;
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.download__button {
  display: block;
  width: 200px;
  padding: 25px;
  margin: 0 auto;
  background-color: #e84545;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
  text-transform: uppercase;
  border: none;
}

// footer content 

.footer {
  display: flex;
  background: url('../images/background-footer.svg') no-repeat;
  background-size: cover;
}

.footer-title {
  margin-top: 71px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.footer-subtitle {
  width: 146px;
  height: 37px;
  margin-bottom: 110px;
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}
