
@media (max-width: 680px) {
  .client-title {
    margin-left: 0px;
  }

  .info__social-icons-container {
    margin: 10px auto;
  }

  .download__button {
    width: 100%;
  }

  .team-container {
    justify-content: center;
  }

  .client-subtitle {
    margin: 0 auto;
  }
}

@media (max-width: 470px) {
  .client-title {
    margin-left: 0px;
  }

  .info__social-icons-container {
    margin: 10px auto;
  }

  .download__button {
    width: 100%;
  }

  .info-container {
    margin: 15px auto;
  }

  .team-container {
    justify-content: center;
  }

  .download__button {
    width: 100%;
  }

}

@media (max-width: 470px) {
  .client-title {
    margin-left: 0px;
  }

  .info__social-icons-container {
    margin: 10px auto;
  }

  .info__item {
    margin: 15px 0;
  }

  .download__button {
    width: 85%;
  }

  .header-title {
  font-size: 35px;
  }

  .header-subtitle { 
    font-size: 15px;
  }
}


@media (max-width: 320px) {
  .client-title {
    margin-left: 0px;
  }

  .info__social-icons-container {
    margin: 10px auto;
  }

  .info__item {
    margin: 15px 0;
  }

  .download__button {
    width: 85%;
  }

  .header-title {
  font-size: 35px;
  }

  .header-subtitle { 
    font-size: 15px;
  }
}


@media (max-width: 1138px) {
  .client-photo {
    display: none;
  }
}
