
@media (max-width: 680px) {
  .header__button {
    width: 100%;
  }

  .client-title {
    margin: 0 auto;
    width: 320px;
    font-size: 25px;
  }

  .info__social-icons-container {
    margin: 10px 0px 100px 0px;
  }

  .download__button {
    box-sizing: border-box;
    width: 100%;
  }

  .team-container {
    justify-content: center;
  }

  .client-subtitle {
    font-size: 10px;
  }
  
  .info__text {
    width: auto;
  }
}

@media (max-width: 470px) {
  .client-title {
    margin: 0 auto;
    width: 320px;
    font-size: 25px;
  } 

  .info__social-icons-container {
    margin: 10px 0px 100px 0px;
  }

  .download__button {
    box-sizing: border-box;
    width: 100%;
  }

  .info__item {
    margin: 15px 0;
  }

  .header-title {
  font-size: 35px;
  }

  .header-subtitle { 
    font-size: 15px;
  }
}


@media (max-width: 320px) {
  .client-title {
    margin: 0 auto;
    width: 320px;
    font-size: 25px;
  }

  .info__social-icons-container {
    margin: 10px 0px 100px 0px;
  }

  .info__item {
    margin: 15px 0;
  }

  .download__button {
    box-sizing: border-box;
    width: 100%;
  }

  .header-title {
  font-size: 35px;
  }

  .header-subtitle { 
    font-size: 15px;
  }
}


@media (max-width: 1138px) {
  .client-photo {
    display: none;
  }
}
